
.case-study-container {
  display: flex;
  flex: column wrap;
  justify-content: center;
  height: 85vh;
  padding-top: 15vh;
}

.case-study-left {
  width: 45%;
  padding-right: 2em;
  border: 1px solid red;
}

.case-study-right {
  display: flex;
  flex: row wrap;
  width: 45%;
  padding-left: 2em;
  border: 1px solid blue;

  img {
    width: 400px;
  }
}

.case-study-1,
.case-study-2,
.case-study-3 {
  width: 100%;
}
