/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Buenard:400,700|Coda:400,800');

@import 'settings';
@import 'foundation';

html {
  background: url(img/1uxv8fafhvm-luke-chesser.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Top Bar
.top-bar-container,
.top-nav {
  // display: flex;
  // flex-direction: row;
}

.top-bar-container {
  // @include top-bar-container;
  padding-top: 1.5em;
  display: flex;
  justify-content: space-between;
  width: $innerContainerWidth;
  margin: 0 auto;

  .logo {
    align-self: flex-start;
    width: 32px;
    height: 32px;

  }

  .top-nav {
    padding-left: 0;
    text-align: right;
    width: 100%;
    margin-right: 24px;
    margin-top: -.4em;
    visibility: hidden;

    li {
      list-style-type: none;

    }

    a {
      display: block;
      text-align: right;
      text-decoration: none;
      font-family: Coda;
      font-size: 32px;
      text-transform: uppercase;
      color: tomato;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// .visible {
//   visibility: visible;
// }

// Media Queries

// @media (min-width: 769px) {
//   .top-bar-container {
//     height: 200px;
//   }
//   .logo {
//     width: 140px;
//   }
//   .top-nav {
//     margin-top: 3em;
//   }
//   .top-nav a {
//     border-bottom-color: transparent;
//   }
//
// }
