// Top Bar
.header-bg {
  position: fixed;
  height: 80px;
  width: 100%;
  background: $white;
  display: none;
}

.main-header,
.nav {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding-left: .8em;
  padding-right: .8em;
}

.main-header {
  padding-top: 1.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  position: fixed;
  z-index: 9999 !important;

  @media (min-width: 1024px) {
    max-width: $containerWidth;
  }

  .logo-group {
    align-self: flex-start;
    float: left;
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: 32px;
    height: 32px;
  }

  .name {
    font-size: 1em;
    color: yellow;
    position: absolute;
    text-decoration: none;
    display: inline;
    margin-left: .5em;
    @include fonts (heading);
    font-size: 1em;
    padding-top: .7em;
    display: inline-block;

    @media (max-width: 769px) {
      display: none;
    }
  }

  // .nav {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;
  //   // margin-top: -.4em;
  //   display: none;
  //   position: absolute;
  //   margin-left: auto;
  //   text-align: right;
  //   margin-right: .8em;
  //
  //   li {
  //     list-style-type: none;
  //     width: 100%;
  //   }
  //
  //   a {
  //     display: block;
  //     text-decoration: none;
  //     font-family: Coda;
  //     font-size: 32px;
  //     text-transform: uppercase;
  //     color: tomato;
  //     width: 100%;
  //     padding: .4em;
  //
  //     &:hover {
  //       text-decoration: underline;
  //     }
  //   }
  // }
}


// hamburger-nav
// $bar-width: 32px;
// $bar-height: 4px;
// $bar-spacing: 10px;
//
// .hamburger-menu {
// 	// position: absolute;
//   // top: 0;
//   // left: 0;
//   // right: 0;
//   // bottom: 0;
//   // margin: auto;
//   width: $bar-width;
// 	// height: $bar-height + $bar-spacing*2;
// 	cursor: pointer;
// 	position: relative;
// }
//
// .bar,
// .bar:after,
// .bar:before {
//   width: $bar-width;
// 	height: $bar-height;
// }
//
// .bar {
// 	position: relative;
// 	transform: translateY($bar-spacing);
// 	background: rgba(255, 99, 71, 1);
// 	transition: all 0ms 300ms;
//
//   &.animate {
//     background: rgba(255, 99, 71, 0);
//   }
// }
//
// .bar:before {
// 	content: "";
// 	position: absolute;
// 	left: 0;
// 	bottom: $bar-spacing;
// 	background: rgba(255, 99, 71, 1);
// 	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
// }
//
// .bar:after {
// 	content: "";
// 	position: absolute;
// 	left: 0;
// 	top: $bar-spacing;
// 	background: rgba(255, 99, 71, 1);
// 	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
// }
//
// .bar.animate:after {
// 	top: 0;
// 	transform: rotate(45deg);
// 	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
// }
//
// .bar.animate:before {
// 	bottom: 0;
// 	transform: rotate(-45deg);
// 	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
// }
