// Keyframes
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: $tomato;
  }
}

@keyframes move {
  100% {
    transform: scale(.5);
    transform-origin: left top;
  }
}

// TeamTreehouse
svg {
  display: block;
  margin: 0 auto;
  width: 40%;
}

#loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


}

#loader {
  padding: 1px;
  align-self: center;

  padding: 1px;
  stroke: $tomato;
  stroke-width: 2;
  stroke-dasharray: 674;
  stroke-dashoffset: 674;

  animation: offset 5s linear forwards, fill-it .8s 5s forwards, move .3s 5s;
}
