// Colors
$white: #fff;
$tomato: tomato;
$dark-grey: #4A4A4A;
$light-grey: #ccc;


// Font-stack
$stack-headings: 'Coda', cursive;
$stack-body-text: 'Buenard', serif;

// Dimentions
$containerWidth: 1040px;
.wrap {
  width: $containerWidth;
  margin: 0 auto;
}

$innerContainerWidth: 880px;
.inner-wrap {
  width: $innerContainerWidth;
  margin: 0 auto;
}
